<div>
  {{#if products}}
    <h1>Productos en Carrito:</h1>
    <ul>
      {{#each products}}
        <p>{{product.title}}
          <br />
          Precio: ${{product.price}}
          <br />
          Cat:
          {{product.category}}
          <br />
          Stock:
          {{product.stock}}
          unidades
          <br />
          ID:
          {{product._id}}
          <br /><br /></p>
      {{/each}}
    </ul>
  {{else}}
    <h2>No hay productos</h2>
  {{/if}}

</div>