{{#if user}}
  <div>
    <h1>Datos del Usuario</h1>
    <p>Nombre:
      {{user.name}}
      <br />
      Role:
      {{user.role}}
      <br />
      Email:
      {{user.email}}
      <br />
      Edad:
      {{user.age}}
      <br />
      Cart:
      {{user.cart}}
    </p>
  </div>
{{else}}
  <h2>No hay un usuario logeado</h2>
{{/if}}