<div>
  {{#if products}}
    <h1>Lista de productos</h1>
    <ul>
      {{#each products}}
       <p>{{this.title}} <br/> Precio: ${{this.price}} <br/> Cat: {{this.category}} <br/> Stock: {{this.stock}} unidades <br/> ID: {{this._id}} <br/><br/></p> 
      {{/each}}
    </ul>
  {{else}}
    <h2>No hay productos</h2>
  {{/if}}
</div>

<script src="/js/home.js"></script>
